<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<properties resource="db.properties"/>
 	
 	<typeAliases>
 		<typeAlias type="com.sist.vo.GameVO" alias="GameVO" />
 		<typeAlias type="com.sist.vo.ComputerVO" alias="ComputerVO" />
 		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO" />
 		<typeAlias type="com.sist.vo.NewsVO" alias="NewsVO" />
 		<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO" />
 		<typeAlias type="com.sist.vo.ReplyVO" alias="ReplyVO"/>
 	</typeAliases>
 	
 	<environments default="development">
 		<environment id="development">
 			<transactionManager type="JDBC"/>
 			<dataSource type="POOLED">
 				<property name="driver" value="${driver}"/>
			 	<property name="url" value="${url}"/>
			 	<property name="username" value="${username}"/>
			 	<property name="password" value="${password}"/>
 			</dataSource>
 		</environment>
 	</environments>
 	
 	<mappers>
 		<mapper resource="com/sist/mapper/game-mapper.xml"/>
 		<mapper resource="com/sist/mapper/computer-mapper.xml"/>
 		<mapper resource="com/sist/mapper/member-mapper.xml"/>
 		<mapper resource="com/sist/mapper/news-mapper.xml"/>
 		<mapper resource="com/sist/mapper/board-mapper.xml"/>
 		<mapper resource="com/sist/mapper/reply-mapper.xml"/>
 	</mappers>

 </configuration>