<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.computer-mapper">
  <!-- 1. 데이터 삽입 -->
  <insert id="computerInsert" parameterType="ComputerVO">
   INSERT INTO computer_tb VALUES(
     (SELECT NVL(MAX(com_no)+1,1) FROM Computer_TB),
     #{cate_no},
     #{product},
     #{spec},
     #{image},
     #{quantity},
     #{cost},
     #{gift},
     #{sell_cnt},
     #{stock_cnt},
     #{hit}
   )
  </insert>
  
  <!-- 2. 리스트 출력 -->
  <select id="computerListData" resultType="ComputerVO" parameterType="hashmap">
    SELECT com_no,cate_no,product,image,cost,num
    FROM (SELECT com_no,cate_no,product,image,cost,rownum as num
    FROM (SELECT com_no,cate_no,product,image,cost
    FROM computer_tb WHERE cate_no=#{cate_no} ORDER BY com_no DESC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <!-- 3. 카테고리 번호 -->
  <select id="computerCategoryCount" resultType="int" parameterType="int">
	SELECT COUNT(*) 
    FROM computer_tb WHERE ROWID IN(SELECT MAX(ROWID) 
    FROM computer_tb WHERE cate_no=#{cate_no} GROUP BY product)
  </select>
  
  <!-- 4. 디테일 페이지 -->
  <select id="computerDetailData" resultType="ComputerVO" parameterType="int">
	SELECT com_no,product,spec,image,cost,gift FROM computer_tb
	where com_no=#{com_no}
  </select>
  
  <!-- 5. 토탈 페이지 -->
  <select id="computerTotalPage" resultType="int" parameterType="int">
    SELECT CEIL(COUNT(*)/12.0) FROM computer_tb
    WHERE cate_no=#{cate_no}
  </select>

  <select id="computerSearchData" resultType="ComputerVO" parameterType="hashmap">
	SELECT com_no,cate_no,product,image,cost,num
    FROM (SELECT com_no,cate_no,product,image,cost,rownum as num
    FROM (SELECT com_no,cate_no,product,image,cost
    FROM computer_tb WHERE ROWID IN(SELECT MAX(ROWID) FROM computer_tb WHERE UPPER(product) LIKE UPPER('%'||#{key}||'%') GROUP BY product)ORDER BY ${sort}))
	WHERE num BETWEEN #{start} AND #{end}
  </select>

  <select id="computerSearchTotalPage" resultType="int" parameterType="hashmap">
	SELECT CEIL(COUNT(*)/10.0)
	FROM ((SELECT * FROM computer_tb WHERE ROWID IN(SELECT MAX(ROWID)
	FROM computer_tb WHERE UPPER(product) LIKE UPPER('%'||#{key}||'%') GROUP BY product)ORDER BY com_no))
  </select>

</mapper>
