<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.game-mapper">

<insert id="gameInsert" parameterType="GameVO">
   INSERT INTO Game_TB(game_no,category,name,rel_day,developer,content,min_spec,recom_spec,poster,like_cnt,hate_cnt,price,tag,movie)
   VALUES(
     (SELECT NVL(MAX(game_no)+1,1) FROM Game_TB),
     #{category},
     #{name},
     #{rel_day},
     #{developer},
     #{content},
     #{min_spec},
     #{recom_spec},
     #{poster},
     #{like_cnt},
     #{hate_cnt},
     #{price},
     #{tag},
     #{movie}
   )
  </insert>
  
<select id="gameListData" resultType="GameVO" parameterType="hashmap">
	SELECT game_no,name,poster,price,num
	FROM (SELECT game_no,name,poster,price, rownum as num
	FROM (SELECT game_no,name,poster,price
	FROM game_tb WHERE cateno=#{category} ORDER BY game_no))
	WHERE num BETWEEN #{start} AND #{end}
</select>


<!-- <select id="movieListData" resultType="MovieVO" parameterType="hashmap"> -->
<!-- 		SELECT no,poster,title,num -->
<!-- 		FROM (SELECT no,poster,title,rownum as num -->
<!-- 		FROM (SELECT no,poster,title -->
<!-- 		FROM daum_movie WHERE cateno=#{cateno} ORDER BY score DESC)) -->
<!-- 		WHERE num BETWEEN #{start} AND #{end} -->
<!-- 	</select> -->



</mapper>

