<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.game-mapper">

<insert id="gameInsert" parameterType="GameVO">
   INSERT INTO Game_TB(game_no,category,name,rel_day,developer,content,min_spec,recom_spec,poster,like_cnt,hate_cnt,price,tag,movie,list_poster)
   VALUES(
     (SELECT NVL(MAX(game_no)+1,1) FROM Game_TB),
     #{category},
     #{name},
     #{rel_day},
     #{developer},
     #{content},
     #{min_spec},
     #{recom_spec},
     #{poster},
     #{like_cnt},
     #{hate_cnt},
     #{price},
     #{tag},
     #{movie},
     #{list_poster}
   )
  </insert>
  
<select id="gameListData" resultType="GameVO" parameterType="hashmap">
	SELECT game_no,name,list_poster,price,tag,like_cnt,num
	FROM (SELECT game_no,name,list_poster,price,tag,like_cnt,rownum as num
	FROM (SELECT game_no,name,list_poster,price,tag,like_cnt
	FROM game_tb WHERE ROWID IN(SELECT MAX(ROWID) FROM game_tb WHERE category=#{category} GROUP BY name)ORDER BY ${sort}))
	WHERE num BETWEEN #{start} AND #{end}
</select>

<select id="gameTotalPage" resultType="int" parameterType="int">
	SELECT CEIL(COUNT(*)/10.0)  
    FROM game_tb WHERE ROWID IN(SELECT MAX(ROWID) 
    FROM game_tb WHERE category=#{category} GROUP BY name)
</select>

<select id="gameCategoryCount" resultType="int" parameterType="int">
	SELECT COUNT(*) 
    FROM game_tb WHERE ROWID IN(SELECT MAX(ROWID) 
    FROM game_tb WHERE category=#{category} GROUP BY name)
</select>

<select id="gameDetailData" resultType="GameVO" parameterType="int">
	SELECT game_no,name,rel_day,developer,content,min_spec,recom_spec,poster,like_cnt,hate_cnt,price,tag,movie,sell_cnt,list_poster FROM game_tb
	where game_no=#{game_no}
</select>

<update id="gameLikeUp" parameterType="int">
	update game_tb
	set like_cnt = like_cnt+1
	where game_no=#{game_no}
</update>

<update id="gameHateUp" parameterType="int">
	update game_tb
	set hate_cnt = hate_cnt+1
	where game_no=#{game_no}
</update>


 	

</mapper>

