<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">

   <insert id="memberInsert" parameterType="com.sist.vo.MemberVO">
     INSERT INTO member_tb VALUES(
       #{id},
       #{pwd},
       #{name},
       #{email},
       #{tel},
       #{sex},
       #{birthday},
       #{addr1},
       #{addr2},
       'n',
       #{post},
       #{pimg}
     )
   </insert>
   
   <select id="memberIdcheck" resultType="int" parameterType="string">
	 SELECT COUNT(*) FROM member_tb
	 WHERE id=#{id}
   </select>
   
   <select id="memberLogin" resultType="com.sist.vo.MemberVO" parameterType="String">
     SELECT id,name,pwd,admin
     FROM member_tb
     WHERE id=#{id}
   </select>

   <select id="wishListData" parameterType="hashmap" resultType="WishVO">
   	 SELECT * FROM wish_list
	 WHERE id=#{id} AND cate=#{cate}
	 ORDER BY wish_no DESC
   </select>

  <delete id="wishDelete" parameterType="int">
    DELETE FROM wish_list
    WHERE wish_no=#{wish_no}
  </delete>
  
  <delete id="wishAllDelete" parameterType="hashmap">
    DELETE FROM wish_list
    WHERE id=#{id} AND cate=#{cate}
  </delete>
  
  <select id="wishCount" parameterType="String" resultType="int">
   	 SELECT COUNT(*) FROM wish_list
	 WHERE id=#{id}
   </select>
   
   
   <select id="basketListData" parameterType="hashmap" resultType="BasketVO">
   	 SELECT * FROM shopping_basket
	 WHERE id=#{id} AND cate=#{cate}
	 ORDER BY basket_no DESC
   </select>

  <delete id="basketDelete" parameterType="int">
    DELETE FROM shopping_basket
    WHERE basket_no=#{basket_no}
  </delete>
  
  <select id="gameWishToBasket" parameterType="hashmap" resultType="int">
   	 SELECT COUNT(*) FROM shopping_basket
	 where cate=1 AND id=#{id} AND game_no=#{game_no}
   </select>
   
  <select id="computerWishToBasket" parameterType="hashmap" resultType="int">
   	 SELECT COUNT(*) FROM shopping_basket
	 where cate=2 AND id=#{id} AND com_no=#{com_no}
  </select>
  
  <update id="computerBasketUpdate" parameterType="hashmap">
  	UPDATE shopping_basket SET computer_count=#{count}
    WHERE basket_no=#{basket_no}
  </update>

</mapper>