<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.news-mapper">


<!-- 
NEWS_NO   NOT NULL NUMBER         
SUBJECT   NOT NULL VARCHAR2(2000) 
CONTENT   NOT NULL CLOB           
POSTER    NOT NULL VARCHAR2(1000) 
REGDATE   NOT NULL VARCHAR2(100)  
HIT                NUMBER         
LIKE_CNT           NUMBER         
HATE_CNT           NUMBER         
MEMBER_ID          VARCHAR2(500)  

 -->


<select id="newsData" resultType="NewsVO" parameterType="hashmap">

 SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id,num
 FROM (SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id,rownum as num
 FROM (SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id
 FROM news))
 WHERE num BETWEEN #{start} AND #{end}
</select>

<select id="newsTotalPage" resultType="int">
SELECT CEIL(count(*)/5.0) FROM news
</select>


 <update id="hitIncrement" parameterType="int">
UPDATE news SET
hit=hit+1
WHERE news_no=#{news_no}
</update>



<select id="newsDetailData" resultType="NewsVO" parameterType="int">
	SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id  
	FROM news
	WHERE news_no=#{news_no}
</select> 

<update id="like" parameterType="NewsVO">
	UPDATE news
	SET like_cnt=like_cnt+1
	WHERE news_no=#{news_no} 
</update>

<update id="hate" parameterType="NewsVO">
	UPDATE news
	SET hate_cnt=hate_cnt+1
	WHERE news_no=#{news_no}
</update>

<select id="newsCount" resultType="int" parameterType="int">
SELECT count(msg) FROM reply_tb
WHERE news_no=${news_no};
</select>

<select id="newsHitCount" resultType="NewsVO" parameterType="int">
SELECT news_no,poster,subject,content,num 
FROM(SELECT news_no,poster,subject,content,rownum as num
FROM(SELECT news_no,poster,subject,content
FROM news ORDER BY hit)) 
WHERE num BETWEEN 1 AND 4;
</select>

<select id="newsSerchData" resultType="NewsVO" parameterType="hashmap">
SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id,num
 FROM (SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id,rownum as num
 FROM (SELECT news_no,subject,content,poster,regdate,hit,like_cnt,hate_cnt,member_id
 FROM news WHERE ROWID IN(SELECT MAX(ROWID) FROM news WHERE UPPER(subject) LIKE UPPER('%'||#{key}||'%') GROUP BY subject)ORDER BY ${sort}))
 WHERE num BETWEEN #{start} AND #{end}
</select>

<select id="newsSearchTotalPage" resultType="int" parameterType="hashmap">
SELECT CEIL(COUNT(*)/5.0)
FROM ((SELECT * FROM news WHERE ROWID IN(SELECT MAX(ROWID)
FROM news WHERE UPPER(subject) LIKE UPPER('%'||#{key}||'%') GROUP BY subject)ORDER BY news_no))
</select>

<insert id="newsWishInsert" parameterType="WishVO">
	INSERT INTO wish_list(wish_no,news_no,id,cate)
	VALUES(
	(SELECT NVL(MAX(wish_no)+1,1) FROM wish_list),
	#{news_no},
	#{id},
	3
	)
</insert>

<select id="newsWishCount" parameterType="WishVO" resultType="int">
SELECT COUNT(*) FROM wish_list
WHERE id=#{id} AND news_no=#{news_no}
</select>

<delete id="newsWishDelete" parameterType="WishVO">
DELETE FROM wish_list
WHERE id=#{id} AND news_no=#{news_no}
</delete>


</mapper>