<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.reply-mapper">


<insert id="gameReplyInsert" parameterType="ReplyVO">
	INSERT INTO reply_tb(reply_no,category,game_no,msg,id) VALUES (
	(SELECT NVL(MAX(reply_no)+1,1) FROM reply_tb), 
	#{category},
	#{game_no},
	#{msg},
	#{id}
	)
</insert>

<delete id="gameReplyDelete" parameterType="int">
	DELETE FROM reply_tb WHERE reply_no=#{no}
</delete>

<update id="gameReplyUpdate" parameterType="ReplyVO">
	UPDATE reply_tb SET msg = #{msg} WHERE reply_no=#{no}
</update>

<insert id="computerReplyInsert" parameterType="ReplyVO">
	INSERT INTO reply_tb(reply_no,category,com_no,msg,id) VALUES (
	(SELECT NVL(MAX(reply_no)+1,1) FROM reply_tb), 
	#{category},
	#{com_no},
	#{msg},
	#{id}
	)
</insert>

<select id="gameReplyListData" resultType="ReplyVO" parameterType="int">
    select reply_no,game_no,msg,regdate,member_tb.id,reply_tb.id,member_tb.pimg
	FROM reply_tb,member_tb
	where reply_tb.id=member_tb.id AND game_no=#{game_no}
	ORDER BY regdate desc
</select>

<select id="computerReplyListData" resultType="ReplyVO" parameterType="int">
    select reply_no,com_no,msg,regdate,member_tb.id,reply_tb.id,member_tb.pimg
	FROM reply_tb,member_tb
	where reply_tb.id=member_tb.id AND com_no=#{com_no}
	ORDER BY regdate desc
</select>

<insert id="newsReplyInsert" parameterType="ReplyVO">
	INSERT INTO reply_tb(reply_no,category,news_no,msg,id) VALUES (
	(SELECT NVL(max(reply_no)+1,1) FROM reply_tb),
	#{category},
	#{news_no},
	#{msg},
	#{id}
	)
</insert>

<select id="newsReplyListData" resultType="ReplyVO">
	SELECT reply_no,category,news_no,msg,member_tb.id,regdate,reply_tb.id,member_tb.pimg
	FROM reply_tb,member_tb 
	where reply_tb.id=member_tb.id AND news_no=#{news_no}
	ORDER BY regdate desc
</select>


<select id="replyCount" resultType="int" parameterType="int">
SELECT COUNT(*) FROM reply_tb
WHERE news_no=#{news_no}
</select>


</mapper>